body
{
background-color:white;

}

h1
{
color:white;
margin-left:200px;
font-size:26px;
}
h2
{
	color:red;
	font-size:26px;
}
div
{
display:inline-block;
width:100%;
}
#container
{

background-color:black;
padding-top:40px;
padding-bottom:25px;
padding-right:80px;
padding-left:130px;
min-height:500px;
width:50%;
display:block;
margin:auto;
}
#name
{
margin-left:-10px;
margin-right:200px;
margin-top:-20px;
margin-bottom:15px;
color:white;
font-size:26px;
}

#content-area
{
border-radius:20px;
min-height:400px;
background-color:black;
margin-bottom:20px;
}


#form
{
margin-left:100px;
margin-top:-655px;
color:white;
}
#pic
{
border-bottom-width:10px;
border-bottom-style:solid;
border-bottom-color:black;
border-left-width:10px;
border-left-style:solid;
border-left-color:black;

width:370px;
height:580px;
margin-left:-90px;
}
#p{
color:white;
font-size:26px;

margin-left:350px;
margin-top:-797px;
width:380px;
height:600px;;

}
#tagline
{
margin-left:0px;
font-size:26px;
color:white;
}
#intro
{
margin-left:330px;
margin-top:-570px;
font-size:26px;
color:white;
}




