body
{
background-color:orchid4;

}
h1
{
color:white;
margin-left:80px;
}
h2
{
color:black;
margin-left:300px;
}
div
{
display:inline-block;
width:100%;
}
#container
{

min-height:500px;
width:50%;
display:block;
margin:auto;
}
#header
{
width:850px;
border-radius:10px;
height:70px;
background-color:#5D478B;
border-bottom-width:5px;
border-bottom-style:solid;
border-bottom-color:#5D478B;

margin-bottom:0px;
margin-left:-100px;
}
#name
{
margin-left:2px;
}
#student_no
{
margin-left:450px;
margin-top:-35px;
margin-right:-900px;
}
#content-area
{
border-radius:20px;
min-height:400px;
background-color:black;
margin-bottom:20px;
}
#form
{
margin-left:50px;
}
#pic
{
border-bottom-width:10px;
border-bottom-style:solid;
border-bottom-color:#5D478B;
border-left-width:10px;
border-left-style:solid;
border-left-color:#5D478B;

width:420px;
height:585px;
margin-left:-90px;
}
#p{
color:white;
font-size:26px;

margin-left:350px;
margin-top:-597px;
width:380px;
height:600px;;
border-right-width:10px;
border-right-style:solid;
border-right-color:#5D478B;
}
#line
{
border-bottom-width:10px;
border-bottom-style:solid;
border-bottom-color:#5D478B;
margin-left:100px;
margin-top:-13px;

}